html, body {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    transition: all 1s ease;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header {
    width: 100%;
    height: 40vh;
    background-position-y:center;
    position: relative;
    overflow: hidden;
}

header h1 {
    padding-top:15%;
    display: inherit;
    text-align: center;
    align-items: flex-end;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 10%;
}

header img {
    height: 100%;
    width: 100%;
}

.all-question-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin-bottom: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    width: 90vw;
    margin-bottom: inherit;
}

.question-header {
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content: inherit;
    margin: 10px;
    width: 100%;
    max-height: 250px;
    color: inherit;
    align-items: inherit;
    position: relative;
    overflow:hidden;
}

.question-header img {
    height: 100%;
    width: 100%;
}

.question-header h2 {
    position: absolute;
    font-size: 2em;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    width: 100%;
    height: 60vh;
}

.row {
    display: inherit;
    justify-content: space-between;
    flex-direction: row;
    align-items: inherit;
    height: inherit;
    width: inherit;
    margin-bottom: 20px;
}

label {
    display: flex;
    justify-content: center;
    align-items: inherit;
    border-style: solid;
    border-width: 1px;
    width: 30%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(0, 60, 128);
    overflow:hidden;
}

label:hover {
    font-size:1.5em;
    box-shadow: 5px 5px pink;
    animation: shake 1s;
}

/*Inspired by https://stackoverflow.com/questions/38132700/css-wiggle-shake-effect
This method makes an element wiggle*/
@keyframes shake {
    33% {transform: rotate(5deg);}
    66% {transform: rotate(-5deg);}
}

label img {
    height: 100%;
    width: 100%;
    transition: all .5s ease;
    background-color: inherit;  
}

/*Inspired by https://stackoverflow.com/questions/787839/resize-image-proportionally-with-css
This method proportionally scales an image on hover*/
label img:hover {
    transform: scale(1.1,1.1);
}

label p {
    transition: all .5s ease;
    background-color: inherit;
    color: white;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    height: 100%;
    width: 100%;
}

input[type=radio] {
    display: none;
}

.button-container {
    display: inherit;
    width: 90%;
    justify-content: flex-end;
}

button {
    background-color: rgb(0, 60, 128);
    color: white;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 20px;
    transition: all .5s ease;
}

button:hover {
    cursor: pointer;
    color: pink;
    transition: all .5s ease;
}

#submit-button:hover, #reset:hover {
    animation: rainbow 2.5s infinite;
    font-size: 1.5em;
    padding: 20px 40px;
    
}

/*Inspired by https://codepen.io/beben-koben/pen/gfuvc 
This method makes the text color loop through the rainbow on hover*/
@keyframes rainbow {
    5% {color: rgb(255, 228, 233);}
    10% {color: pink;}
    15% {color: rgb(252, 132, 152)}
    20% {color: red;}
    25% {color: rgb(253, 80, 0);}
    30% {color: rgb(255, 174, 0);}
    35% {color: rgb(252, 211, 101);}
    40% {color: rgb(255, 252, 93);}
    45% {color: rgb(229, 255, 0);}
    50% {color: rgb(187, 255, 1);}
    55% {color:rgb(90, 255, 75);}
    60% {color:rgb(29, 253, 186);}
    65% {color: rgb(0, 247, 255);}
    70% {color: rgb(31, 224, 238);}
    75% {color: rgb(176, 210, 255);}
    80% {color: rgb(183, 152, 255);}
    85% {color: rgb(225, 166, 240);}
    90% {color: rgb(247, 170, 234);}
    95% {color: rgb(243, 217, 242);}
    100% {color: white;} 
} 

#submit-button {
    margin: 20px 0px;
}

/*Inspired by https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
This method removes the default blue line that surrounds an HTML <button> when it is active */
button:focus {
    outline:0;
}

button:active {
    transform: translateY(4px);
    box-shadow: 5px 5px #666;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    animation-name: move-down;
    animation-duration: 1s;
}

/* Inspired by https://stackoverflow.com/questions/17322305/css3-animations-fade-in-as-move-down
This method makes the modal fade in as it slides in from the top*/
@keyframes move-down {
    from {transform: translateY(-100%); opacity:0; }
    to {transform:translateY(0%);opacity:1;}
}

#modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    color: black;
    margin: 5% 15%;
    padding: 20px;
    border: 3px solid black;
    width: 70%;
    position: relative;
}

#reset {
    display: none;
    position: absolute;
    bottom: 5%;
}

.modal-option {
    width: 70%;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.modal-gif {
    width: 100%;
    height: 100%;
}

#close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 1.2em;
        text-align: center;
    }
    .answer-container {
        flex-direction: row;
        height: 100vh;
    }
    .row {
        flex-direction: column;
    }
    .row:first-child {
        margin-right:10px;
    }
    .row:last-child {
        margin-left:10px;
    }
    label {
        width: 100%;
        margin: 10px 0px;
    }
    .button-container {
        justify-content: center;
    }
}
